# Introduction to Python Programming - Bridge Course

In [ ]:
#Python Programming basic operations

In [ ]:
#Print Welcome to AIDTM

In [ ]:
# Print Happy learning Python Programming

In [ ]:
# Print "Hope you are enjoying learning Python!"

# Comments

In [ ]:
# Single Line comment
#print Hello

In [ ]:
"""
Multiple Line comments
print("This is first class of Python programming!!")
"""

# varibles

What is variables?
Variables in Python are names given to objects, so that it becomes easy to refer a value. 
In other words, a variable points to an object. A literal value is assigned to a variable using the = operator where the left side should be the name of a variable, and the right side should be a value.

### Commonly accepted case types
Camel (lower and upper)
    firstName
Snake
    first_name
Pascal
    FirstName

In [ ]:
#Assign 501 to Employee_id variable Employee_id = 501

In [ ]:
#Assign 501 to Employee@id variable Employee@id = 501

In [ ]:
#Assign Ram to name variable ie name = "Ram"

In [ ]:
#Assign Ram to firstName variable

In [ ]:
#Assign Ram to 1name variable

In [ ]:
#Assign Ram to _name variable

In [ ]:
#Assign Ram to name-1 variable

In [ ]:
#Assign Ram to name.1 variable

In [ ]:
#Assign Ram to name1 variable

In [ ]:
#Assign Ram to name_1 variable
#Assign Ayush to first_name variable
#Assign Mathur to lastName variable

In [ ]:
#Print  Welcome to AIDTM using a variable  
#print("Welcome to ",institute_name)

In [ ]:
#check type of institute_name

In [ ]:
#to take input from keyboard and print name

In [ ]:
#declare number and a as integer variable and assign value 50 and 10 respectively

In [ ]:
 #print type of number

In [ ]:
 #print type of a

In [ ]:
#declare x as an integer variable and assign value 3 and check type

In [ ]:
#declare try = 40 
#try a keyword
try = 40

In [ ]:
#declare y as a float variable and assign value 2.1

In [ ]:
#declare z as string variable and assign value test

In [ ]:
#declare first_string_valribale and assing test
#declare first_integer_variable and assing 234

In [ ]:
#print first_string_valribale  
#print first_integer_variable

In [ ]:
#display type of first_string_valribale

In [ ]:
#display type of first_integer_variable

In [ ]:
#print type of first_string_valribale
#print type of first_integer_variable

In [ ]:
#assign 7 to variable x

In [ ]:
#increment x by 1 and print x

In [ ]:
#decalre variable float_number and assign 7/2

In [ ]:
#decalre variable for price of mango_per_kg and apple_per_kg and assign 150.50 and 243.99 respective 
#print and show type of variables

# Strings

In [ ]:
""" 
#string_one
#string_two
#string_three
and print type of strings
"""

# None and Boolean

In [ ]:
#declare varible num_x = None and num_x is None  and display type

In [ ]:
#declare varible result = True and result_1 = False  and display type

In [ ]:
#print(result == result_1)

In [ ]:
#declare number1 = 500.32 and number2 =324.65 as float variables

In [ ]:
#type(number1)

In [ ]:
#type(number2)

In [ ]:
#print (number1, number2)

In [ ]:
#print ('Number1 :', number1, 'number2:',number2)

In [ ]:
#Input name using iput function and Print hi and name

In [ ]:
#reveal the type of variable

In [ ]:
#to assign values to multiple variables ie Physics, Chemistry, Maths = 90,98,90 and print them

In [ ]:
#print("Physics,Chemistry, Maths", Physics,Chemistry, Maths)

In [ ]:
#for help function name?
print?

# Some of my favorites:

Esc will take you into command mode where you can navigate around your notebook with arrow keys.
While in command mode:
A to insert a new cell above the current cell, B to insert a new cell below.

M to change the current cell to Markdown, Y to change it back to code

D + D (press the key twice) to delete the current cell

Enter will take you from command mode back into edit mode for the given cell.

Shift + Tab will show you the Docstring (documentation) for the the object you have just typed in a code cell â€“ you can keep pressing this short cut to cycle through a few modes of documentation.

Ctrl + Shift + - will split the current cell into two from where your cursor is.
Esc + F Find and replace on your code but not the outputs.
Esc + O Toggle cell output.
Select Multiple Cells:
Shift + J or Shift + Down selects the next sell in a downwards direction. You can also select sells in an upwards direction by using Shift + K or Shift + Up.

Once cells are selected, you can then delete / copy / cut / paste / run them as a batch. This is helpful when you need to move parts of a notebook.
You can also use Shift + M to merge multiple cells.

In [ ]:
#Formatted printing
#The Placeholders
#The placeholders can be identified using named indexes {var}, numbered indexes {0}, or 
#even empty placeholders {}  
print("b: {b}".format(b = 54.98))
print("b: {0}".format(54.98))
print("b: {}".format(54.98))

In [ ]:
#The Placeholders
#The placeholders can be identified using named indexes {var}, numbered indexes {0}, or 
#even empty placeholders {}.
print("Physics: {0}, Chemistry: {1}, and Maths: {2}".format(Physics,Chemistry, Maths))

In [ ]:
print("Physics: {Physics}, Chemistry: {Chemistry}, and Maths: {Maths}".format(Physics = 87,Chemistry =87, Maths=74))

In [ ]:
#declare Boolean variable flag = True

In [ ]:
#type of flag variable

# Operators (+, -, *, /, //, **)

In [ ]:
# declare a = 20 and b = 50 and print c = a + b 
#+ Operator

In [ ]:
# declare d = 200.53 and e = 50.876 and print f = d + e 
#+ Operator

In [ ]:
#auto type cast int to float ie a = d

In [ ]:
#auto type cast int to float ie b = e

In [ ]:
#explicit typecast a = int(b)

In [ ]:
#explicit typecast b = int(b)

In [ ]:
# str to int typecast string = '123'  and integer = int(string)

In [ ]:
# str to float typecast string = '123.98' ie integer = float(string)

In [ ]:
"""
Employee data
Employee_name = "Ram"
Age = 34
Height = 5.5
"""

In [ ]:
#type(Employee_name)

In [ ]:
#type(Age)

In [ ]:
#type(Height)

In [ ]:
#Verify if an object is of a certain data type
#Syntax: type(object) is datatype

type(Employee_name) is str

In [ ]:
#type(Employee_name) is int

In [ ]:
#type(Age) is int

In [ ]:
#type(Height) is int

In [ ]:
Salary_tier ='1'

In [ ]:
#type(Salary_tier)

In [ ]:
#Salary_tier = int(Salary_tier) and type(Salary_tier)

In [ ]:
#print(Salary_tier)

In [ ]:
#name value can not be converted in int
Employee_name = int(Employee_name)
Employee_name = float(Employee_name)

In [ ]:
'''
Arithemetic Operations
a =10 
b=20
result = a + b
'''

In [ ]:
#print(result)

In [ ]:
#sub = a-b

In [ ]:
#div = a/b

In [4]:
#to see only int result 2//3 
result = b/a
print(result)

NameError: name 'a' is not defined

In [ ]:
#result = 2/3

In [ ]:
#result = 2//3

In [ ]:
#moulus gives remainder result = 3%2

In [ ]:
#decalre string var1 = "AIDTM"

In [ ]:
#print 3rd element

In [ ]:
#exclueds 2nd element print(var1[0:2])

In [ ]:
print(var1[:2])

In [ ]:
print(var1[0:])

In [ ]:
print(var1[:])

In [ ]:
print(var1[0:10])

In [ ]:
#len
len(var1)

In [ ]:
num = 45

In [ ]:
print(num)

In [ ]:
print(num)

In [ ]:
  print(100/3)

In [ ]:
print(100//2)

In [ ]:
print(2**3)

In [ ]:
print(10%2)

In [5]:
#Conversions
a = '100'
type(a)

str

In [6]:
int(a)

100

In [7]:
a = int(a)
type(a)

int

In [8]:
a = float(a)

print(a)

100.0

In [9]:
type(a)

float

In [10]:
#functions
#abs
print(abs(a))

100.0

In [11]:
#exp need to import math
import math

In [14]:
a = 10
print(math.exp(2))

7.38905609893065

In [15]:
math.e

2.718281828459045

In [16]:
math.pi

3.141592653589793

In [17]:
print(math.sqrt(4))

2.0

In [18]:
max(2,78,6,86)

86

In [19]:
min(43,8,675,0)

0

In [ ]:
#list

In [ ]:
list = [1,2,3,4,5]

In [ ]:
print(list)

In [ ]:
list1 = ['a','b','c','d']

In [ ]:
print(list1)

In [ ]:
str=['abc', 'def','ghi']

In [ ]:
print(str)

In [ ]:
mix = [1,34,'tea',43]

In [ ]:
print(mix)

In [ ]:
mat = [[1,2,3],[4,5,6]]

In [ ]:
print(mat)

In [ ]:
#accessing elements in the list

In [ ]:
print(mix)

In [ ]:
print(mix[2])

In [ ]:
mix[-2]

In [ ]:
#rage of elements

In [ ]:
mix[0:2]

In [ ]:
mix[:3]

In [ ]:
mix[1:]

In [ ]:
mix[1:3]

In [ ]:
mix[::2] #every 2nd element

In [ ]:
mix[::-1]#reverese list

In [ ]:
#operation on list

In [ ]:
a=[0]*10

In [ ]:
a

In [ ]:
print(a)

In [ ]:
str

In [ ]:
lst1

In [ ]:
con = str+lst1

In [ ]:
print(con)

In [ ]:
import numpy as np
list('hi')
print(var4)

In [ ]:
print(num)