# Introduction to Python Programming - Bridge Course Lab Session

In [1]:
#Python Programming basic operations

In [2]:
#Print Welcome to AIDTM
print('Welcome to AIDTM')

Welcome to AIDTM

In [3]:
# Print Happy learning Python Programming
print("Happy learning Python Programming")

Happy learning Python Programming

In [4]:
# Print "Hope you are enjoying learning Python!""
print('"Hope you are enjoying learning Python!"')

"Hope you are enjoying learning Python!"

# Comments

In [5]:
# Single Line comment
#print Hello
print("hello")

hello

In [6]:
"""
Multiple Line comments
print Hello
"""
print("This is first class of Python programming!!")

This is first class of Python programming!!

# varibles

What is variables?
Variables in Python are names given to objects, so that it becomes easy to refer a value. 
In other words, a variable points to an object. A literal value is assigned to a variable using the = operator where the left side should be the name of a variable, and the right side should be a value.

### Commonly accepted case types

"""
Camel (lower and upper)
    firstName
Snake
    first_name
Pascal
    FirstName
"""

In [7]:
#Assign 501 to Employee_id variable
Employee_id = 501

In [8]:
#Assign 501 to Employee@id variable
#Employee@id = 501

In [9]:
#Assign Ram to name variable
name = "Ram"
print(name)

Ram

In [10]:
#Assign Ram to firstName variable
firstName = "Ram"
print(firstName)

Ram

In [11]:
#Assign Ram to 1name variable
#1name = "Ram"

In [12]:
#Assign Ram to _name variable
_name = "Ram"

In [13]:
#Assign Ram to name-1 variable
name-1 = "Ram"

SyntaxError: cannot assign to operator (<ipython-input-13-989f20ebd001>, line 2)

In [ ]:
#Assign Ram to name.1 variable
name.1= "Ram"

In [ ]:
#Assign Ram to name1 variable
name1= "Ram"
print(name1)

In [ ]:
#Assign Ram to name_1 variable
#Assign Ayush to first_name variable
#Assign Mathur to lastName variable

name_1 = "Ram"

first_name ="Ayush"

lastName = "Mathus"

print(name_1)
print(first_name)
print(lastName)

In [ ]:
#Print  Welcome to AIDTM using a variable 
institute_name = 'AIDTM'
print("Welcome to ",institute_name)

In [ ]:
type(institute_name)

In [ ]:
#to take input from keyboard
name = input("Enter your name")
print("My name is :", name)

In [ ]:
#declare number and a as integer variable and assign some value
number = 50
a = 10
print(number)
print(a)

In [ ]:
type(number)

In [ ]:
type(a)

In [ ]:
#declare x as an integer variable and assign value 3 
x = 3
type(x)

In [ ]:
#declare try = 40 
#try a keyword
try = 40

In [ ]:
#declare y as a float variable and assign value 2.1
y = 2.1
type(y)

In [ ]:
#declare z as string variable and assign value test 
z = 'test'
type(z)

In [ ]:
#declare first_string_valribale and assing test
#declare first_integer_variable and assing 234
first_string_valribale = 'test'
first_integer_variable = 234

In [ ]:
#print first_string_valribale  
#print first_integer_variable  
print(first_string_valribale)
print(first_integer_variable)

In [ ]:
#display type of first_string_valribale  
type(first_string_valribale)

In [ ]:
#display type of first_integer_variable
type(first_integer_variable)

In [ ]:
#print type of first_string_valribale
#print type of first_integer_variable
print(type(first_string_valribale))
print(type(first_integer_variable))

In [ ]:
#assign 7 to variable x
x = 7

In [ ]:
#increment x by 1
x = x +1
print(x)

In [ ]:
#decalre variable float_number and assign 7/2
float_number = 7/2
print(float_number)
type(float_number)

In [ ]:
#decalre variable for price of mango_per_kg and apple_per_kg and assign 150.50 and 243.99 respective
mango_per_kg = 150.50
apple_per_kg = 243.99
print(mango_per_kg)
print(type(mango_per_kg))
print(apple_per_kg)
print(type(apple_per_kg))

# Strings

In [ ]:
""" 
#string_one
#string_two
#string_three

"""

string_one = 'First string'
string_two = "Second string"
string_three = """Third String"""
print(string_one)
print(string_two)
print(string_three)

# None and Boolean

In [ ]:
#declare varible num_x = None and num_x is None  
num_x = None
print(num_x)

num_x is None
type(num_x)

In [ ]:
#declare varible result = True and result_1 = False  
result = True 
result_1 = False
type(result)

In [ ]:
#print(result == result_1)

print(result == result_1)

In [ ]:
#declare number1 and number2 as float
number1 = 500.32
number2 =324.65
print(number1)
print(number2)

In [ ]:
type(number1)

In [ ]:
type(number2)

In [ ]:
#print number1 and number2
print (number1, number2)

In [ ]:
#print number1 and number2
print ('Number1 :', number1, 'number2:',number2)

In [ ]:
#Input name using iput function and Print name 
name = input('Enter your name: ')
print('Hi', name)

In [ ]:
#reveals the type of variable
type(name)

In [ ]:
#to assign values to multiple variables
Physics, Chemistry, Maths = 90,98,98
print(Physics,Chemistry, Maths)

In [ ]:
print("Physics,Chemistry, Maths", Physics,Chemistry, Maths)

In [ ]:
#complex numbers
a = 10
b = 20
complex_number1 = a + 3J
complex_number2 = b -2j

In [ ]:
print(complex_number1, complex_number2)

In [ ]:
type(complex_number1)

In [ ]:
type(complex_number2)

In [ ]:
#for help function name?
print?

# Some of my favorites:

Esc will take you into command mode where you can navigate around your notebook with arrow keys.
While in command mode:
A to insert a new cell above the current cell, B to insert a new cell below.

M to change the current cell to Markdown, Y to change it back to code

D + D (press the key twice) to delete the current cell

Enter will take you from command mode back into edit mode for the given cell.

Shift + Tab will show you the Docstring (documentation) for the the object you have just typed in a code cell â€“ you can keep pressing this short cut to cycle through a few modes of documentation.

Ctrl + Shift + - will split the current cell into two from where your cursor is.
Esc + F Find and replace on your code but not the outputs.
Esc + O Toggle cell output.
Select Multiple Cells:
Shift + J or Shift + Down selects the next sell in a downwards direction. You can also select sells in an upwards direction by using Shift + K or Shift + Up.

Once cells are selected, you can then delete / copy / cut / paste / run them as a batch. This is helpful when you need to move parts of a notebook.
You can also use Shift + M to merge multiple cells.

In [ ]:
b = 20
print("b:", b)
print("b: {}".format(98.543))

In [ ]:
#Formatted printing
#The Placeholders
#The placeholders can be identified using named indexes {var}, numbered indexes {0}, or 
#even empty placeholders {}  
print("b: {b}".format(b = 54.98))
print("b: {0}".format(54.98))
print("b: {}".format(54.98))

In [ ]:
#The Placeholders
#The placeholders can be identified using named indexes {var}, numbered indexes {0}, or 
#even empty placeholders {}.
print("Physics: {0}, Chemistry: {1}, and Maths: {2}".format(Physics,Chemistry, Maths))

In [ ]:
print("Physics: {Physics}, Chemistry: {Chemistry}, and Maths: {Maths}".format(Physics = 87,Chemistry =87, Maths=74))

In [ ]:
#Boolean variable
flag = True
print(flag)

In [ ]:
type(flag)

# Operators (+, -, *, /, //, **)

In [ ]:
# declare a = 20 and b = 50 and print c = a + b 
#+ Operator

a = 20 
b = 50

c = a + b

print(c)

In [ ]:
# declare d = 200.53 and e = 50.876 and print f = d + e 
#+ Operator
d = 200.53 
e = 50.876

f = d + e

print(f)

In [ ]:
#auto type cast int to float ie a = d or b = e
a = d
print(d)

In [ ]:
#auto type cast int to float ie b = e
b = e
print(b)

In [ ]:
#explicit typecast a = int(b)
a = int(b)
print(a)

In [ ]:
#explicit typecast b = int(b)
b = int(b)
print(b)

In [ ]:
# str to int typecast string = '123'
string = '123'
print(type(string))

integer = int(string)
print(integer)
print(type(integer))

In [ ]:
# str to float typecast string = '123.98'
string = '123.98'
integer = float(string)
print(type(integer))

In [ ]:
"""
Employee data
Employee_name = "Ram"
Age = 34
Height = 5.5
"""
Employee_name = "Ram"
Age = 34
Height = 5.5

In [ ]:
type(Employee_name)

In [ ]:
type(Age)

In [ ]:
type(Height)

In [ ]:
#Verify if an object is of a certain data type
#Syntax: type(object) is datatype

type(Employee_name) is str

In [ ]:
type(Employee_name) is int

In [ ]:
type(Age) is int

In [ ]:
type(Height) is int

In [ ]:
Salary_tier ='1'

In [ ]:
type(Salary_tier)

In [ ]:
Salary_tier = int(Salary_tier)
type(Salary_tier)

In [ ]:
print(Salary_tier)

In [ ]:
#name vlaue can not be converted in int
Employee_name = int(Employee_name)
Employee_name = float(Employee_name)

In [ ]:
# Arithemetic Operations
a =10 
b=20
result = a + b

In [ ]:
print(result)

In [ ]:
sub = a-b
print(sub)

In [ ]:
div = a/b
print(div)

In [ ]:
#to see only int result 2/3
result = a//b
print(mod)

In [ ]:
result = 2/3
print(result)

In [ ]:
result = 2//3
print(result)

In [ ]:
#moulus gives remainder
result = 3%2
print(result)

In [ ]:
result = 3%2
print(result)

In [ ]:
#String
var1 = "AIDTM"
print(var1)

In [ ]:
print(var1[2])

In [ ]:
#exclueds 2nd element
print(var1[0:2])

In [ ]:
print(var1[:2])

In [ ]:
print(var1[0:])

In [ ]:
print(var1[:])

In [ ]:
print(var1[0:10])

In [ ]:
#len
len(var1)

In [ ]:
num = 45

In [ ]:
print(num)

In [ ]:
print(num)

In [ ]:
  print(100/3)

In [ ]:
print(100//2)

In [ ]:
print(2**3)

In [ ]:
print(10%2)

In [ ]:
#Conversions
a = '100'
type(a)

In [ ]:
int(a)

In [ ]:
a = int(a)
type(a)

In [ ]:
a = float(a)

print(a)

In [ ]:
type(a)

In [ ]:
#functions
#abs
print(abs(a))

In [ ]:
print(math.sqrt(4))

In [ ]:
max(2,78,6,86)

In [ ]:
min(43,8,675,0)

In [ ]:
#list

In [ ]:
list = [1,2,3,4,5]

In [ ]:
print(list)

In [ ]:
list1 = ['a','b','c','d']

In [ ]:
print(list1)

In [ ]:
str=['abc', 'def','ghi']

In [ ]:
print(str)

In [ ]:
mix = [1,34,'tea',43]

In [ ]:
print(mix)

In [ ]:
mat = [[1,2,3],[4,5,6]]

In [ ]:
print(mat)

In [ ]:
#accessing elements in the list

In [ ]:
print(mix)

In [ ]:
print(mix[2])

In [ ]:
mix[-2]

In [ ]:
#rage of elements

In [ ]:
mix[0:2]

In [ ]:
mix[:3]

In [ ]:
mix[1:]

In [ ]:
mix[1:3]

In [ ]:
mix[::2] #every 2nd element

In [ ]:
mix[::-1]#reverese list

In [ ]:
#operation on list

In [ ]:
a=[0]*10

In [ ]:
a

In [ ]:
print(a)

In [ ]:
str

In [ ]:
lst1

In [ ]:
con = str+lst1

In [ ]:
print(con)

In [ ]:
print(num)